<h1>
  Manage Users
</h1>
<table id="example"  class="row-border hover" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
    </thead>
     <tbody>
    <tr *ngFor="let user of users$; let i = index">
      <td><a routerLink="/details/{{user.id}}">{{ user.id }}</a></td>
      <th>{{user.name}}</th>
      <th>{{user.email}}</th>
      <th><a href="http://{{ user.website }}">{{ user.website }}</a></th>
    </tr>
    </tbody>
  </table>
  <br>

<ul [@listStagger]="users$">
  <li *ngFor="let user of users$">
      <a routerLink="/details/{{user.id}}">{{ user.name }}</a>

      <ul>
        <li>{{ user.email }}</li>
        <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
      </ul>
  </li>
</ul>