nav {
    background: #2D2E2E;
    height: 100%;
}
nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        

    nav ul li a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
        
    
    
