body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;
}
   #content {
       padding: 30px 50px;
   }
   #content ul {
           list-style-type: none;
           margin:0;padding:0;
       }
       #content ul li {
               background: #fff;
               border-radius: 8px;
               padding:2px 10px;
               margin-bottom: 8px;
           }
           #content ul li a {
                   font-size: 15px;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
               }
                   li {
                       padding:0;
                   }
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   
               
           
       
   
